<!DOCTYPE html>
<html>
    <head>
        <meta charset=""UTF-8">
        <title> Say Hello </title>
        <link rel=""stylesheet" href="
        {{ url_for('static', filename='css/main.css')}}">
    </head>
    <body>
        {% if session %}
        <img src="https://miro.medium.com/max/1024/0*4ty0Adbdg4dsVBo3.png">
        <br> 
        <form action="greet" method="post">
            {% for message in get_flashed_messages()%}
                <p> {{message}} </p>
            {% endfor %}
            <br>
            <input type="text" name="name_input">
            <br>
            <input type="submit" value="GREET" id="greet">
        </form>
        <h1>Welcome {{session.userinfo.name}}!</h1>
        <p><a href="/logout">Logout</a></p>
        {% else %}
            <h1>Welcome Guest</h1>
            <p><a href="/login">Login</a></p>
        {% endif %}

    </body>
</html>